/* *{
    margin: 0;
    padding: 0;
} */
fieldset{
    border-radius: 2em;
    text-align: justify;
background-color: coral;
margin-top: 10px;

}
#result{
    margin-left: 10px;
    width: 60px;
height: 50px;
background-color: darkslategray;

}
input{
    text-align: center;
    margin-left: 40px;
}
.in{
    margin-left: 200px;
    border-radius: 2rem;
    border-top: none;
    border-left: none;
    background-color: rgb(97, 41, 69);
    border-right: none;
    border-bottom: none;
    color: rgb(24, 243, 35);
    outline: none;
    text-transform: uppercase;
}
.in:focus{
  border: 4px solid gold;
}